debug_level 4
adapter driver remote_bitbang
remote_bitbang host localhost
remote_bitbang port 10000
gdb_port 3333
telnet_port 4444
tcl_port 6666

set _CHIPNAME riscv
jtag newtap $_CHIPNAME cpu -irlen 5 -expected-id 0x100039D3

set _TARGETNAME $_CHIPNAME.cpu
target create $_TARGETNAME riscv -chain-position $_TARGETNAME

gdb_report_data_abort enable
gdb_report_register_access_error enable

# only progbuf supported
riscv set_mem_access sysbus

riscv expose_csrs 2288
riscv expose_csrs 1992-1996
init

arm semihosting enable
